.NavLink {
  font-size: 1rem;
  text-decoration: none;
}
.NavLink button {
  height: 20px;
  color: rgb(0 144 99);
  font-weight: bolder;
}
.PrivateTabIndicator-colorPrimary-4 {
  background-color: #12aa04 !important;
}
.PrivateTabIndicator-colorPrimary-11 {
  background-color: #12aa04 !important;
}
